body {
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.cabecalho a {
    margin: 0px;
    padding: 20px;
    text-transform: uppercase;
}

.cabecalho a img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    /* padding: 0px; */
}

.navbar-brand {
    padding-left: 0px !important;
}

.bg-dark {
    background-color: #dd3131d5 !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: whitesmoke;
    transition: 0.4s;
}

.nav-link {
    padding-right: 0px !important;
}

main {
    padding: 0px;
}

.divMain {
    padding: 0px;
}

.conteudoPrincipal {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.conteudoPrincipal .fa-star {
    color: gold;
    margin-right: 10px;
}

.conteudoPrincipal .fa-star:hover {
    /* color: gold; */
}

.btn-light {
    background: #dd3131d5;
    color: whitesmoke;
    text-transform: uppercase;
    border-radius: 0%;
    font-size: 13px;
}

.btn-secondary {
    background: gray;
    color: whitesmoke;
    text-transform: uppercase;
    border-radius: 0%;
    font-size: 13px;
}

.btn-voltar {
    color: whitesmoke;
    background: darkred;
}

.btn-voltar:hover {
    color: darkred;
    background: whitesmoke;
}

.conteudoPrincipal .btn-light:hover {
    color: #dd3131d5;
    background: white;
    border: none;
    transition: 0s;
}

.btnVoto {
    padding: 7px;
}

.conteudoPrincipal .card {
    /* margin: 1px;     */
    padding: 5px;
    border: 1.5px solid #dd3131d5;
    border-radius: 0%;
}

.conteudoPrincipal .card img {
    padding: 10px;
}

.textoPrincipal {
    text-align: justify;
    padding: 35px;
    line-height: 6mm;
}

footer {
    background: #dd3131d5;
}

footer p {
    text-align: center;
    color: whitesmoke;
}